.App {
  background-color: rgb(120, 133, 146);
}

/* HomePage */
.HomePage {
  /* background-color: blue; */
  min-width: 100vh;
  min-height: 100vh;
}

.tag {
  font-size: 30px;
  font-family: inconsolata, monospace;
  color: rgba(250, 235, 215, 0.514);
}

.center--text {
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  line-height: 0px;
  color: rgb(63, 62, 62);
}

.center--text h1 {
  letter-spacing: 0;
  margin: -10;
  font-size: 70px;
  line-height: 50px;
}

#name {
  color: antiquewhite;
}

.center--text h3 {
  margin-left: -70px;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* About Page */
.AboutPage {
  min-height: 100vh;
}

.AboutPage h3 {
  margin-left: 10%;
}
